/* build time:Thu Sep 08 2016 15:40:19 GMT+0200 (Romance Daylight Time)*/
#header{background-image:url(/images/sitecorn.png);background-repeat:no-repeat}#header h1,#header h2{margin-left:60px}
/* rebuild by neat */